/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/visitor/images/basura
/public/visitor/images/carousel
/public/visitor/images/catalog
/public/visitor/images/entertainment
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
