/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/visitor/images/bg
/public/visitor/images/basura
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
